.selectorPanel {
  background-color: var(--1dp);
  width: 360px;
  border-right: 1px solid var(--border-color);
}

.experimentList {
  width: 100%;
  padding: 4px;
}

.experimentListItem {
  height: 40px;
  background-color: var(--2dp);
}

.stage {
  flex: 1;
}